# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Models & Data (Optional: keeping small models but ignoring large binaries if any)
# models/*.pkl
# data/*.csv

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
